<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>IOTPrint</display-name>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.Atschool.Servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreviewDocServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.PreviewDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewDocServlet</servlet-name>
    <url-pattern>/PreviewDocServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDocServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.DeleteDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocServlet</servlet-name>
    <url-pattern>/DeleteDocServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginTestServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.LoginTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTestServlet</servlet-name>
    <url-pattern>/LoginTestServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IOTPrintPayServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.IOTPrintPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IOTPrintPayServlet</servlet-name>
    <url-pattern>/IOTPrintPayServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserInfoServlet</servlet-name>
    <servlet-class>com.Atschool.Servlet.EditUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserInfoServlet</servlet-name>
    <url-pattern>/EditUserInfoServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.lxy.code.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>